* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    background: #ccc;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}
.cube {
    width: 300px;
    height: 300px;

    transform-style: preserve-3d;
    transform: rotateX(-30deg) rotateY(30deg);

    position: relative;
}
.cube.left {
    animation: cube-rotateX 10s infinite ease-in-out;
}
.cube.right {
    animation: cube-rotateY 10s infinite ease-in-out;
}
.cube .face {
    background: #fff;
    position: absolute;
    width: 300px;
    height: 300px;
    border: 3px solid #ffffff;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 6px;
}

.cube .face.front {
    transform: translate3d(0, 0, 150px);
}
.cube .face.front span {
    background: #fa5252;
}
.cube .face.back {
    transform: translate3d(0, 0, -150px);
}
.cube .face.back span {
    background: #f76707;
}
.cube .face.right {
    transform: translate3d(150px, 0, 0) rotateY(90deg);
}
.cube .face.right span {
    background: #12b686;
}
.cube .face.left {
    transform: translate3d(-150px, 0, 0) rotateY(90deg);
}
.cube .face.left span {
    background: #4c6ef5;
}
.cube .face.top {
    transform: translate3d(0, -150px, 0) rotateX(90deg);
}
.cube .face.top span {
    background: #fab005;
}
.cube .face.bottom {
    transform: translate3d(0, 150px, 0) rotateX(90deg);
}
.cube .face.bottom span {
    background: #7950f2;
}

@keyframes cube-rotateX {
    50% {
        transform: rotateX(-390deg) rotateY(30deg);
    }
}

@keyframes cube-rotateY {
    50% {
        transform: rotateX(-30deg) rotateY(390deg);
    }
}
